{% extends "::bootstrap.html.twig" %}

{% block body %}
<a class="btn btn-primary" role="button" href="{{path('tests_animated_transition')}}">Animated Transition</a>
<a class="btn btn-primary" role="button" href="{{path('tests_structure_bootstrap')}}">Structure Bootstrap</a>
<a class="btn btn-primary" role="button" href="{{path('tests_cookies')}}">Cookies</a>
<a class="btn btn-primary" role="button" href="{{path('tests_header')}}">Header</a>
<a class="btn btn-primary" role="button" href="{{path('tests_menu')}}">Menu</a>
<a class="btn btn-primary" role="button" href="{{path('accueil_homepage')}}">Retour à l'accueil</a>

{% endblock %}