
    <div class="col-md-4">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{analyse.id}}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{analyse.id}}" aria-expanded="false" aria-controls="collapse{{analyse.id}}">{{ analyse.item }}</a>
                    </h4>
                </div>
                <div id="collapse{{analyse.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne{{analyse.id}}">
                    <div class="panel-body">
                        {{ analyse.comment }}
                        <h6 class="text-right">Categorie : {{ analyse.category.name }}</h6>
                        <h6 class="text-right">Objet : {{ analyse.object.name }}</h6>
                        <a role="button" href="{{ path('administration_analyse_show', { 'id': analyse.id }) }}">show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

