{% extends "AccueilBundle:Analyse:layout.html.twig" %}

{% block body %}
    <div class="list-group">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ analyse.link }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ analyse.item }}</h4>
                    <p class="list-group-item-text">{{ analyse.comment }}</p>
                    <h6>Category : {{ analyse.category.name }}</h6>
                    <h6>Object : {{ analyse.object.name }}</h6>
                 </a>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{{ path('administration_analyse_index') }}">Back to the list</a>
    <a class="btn btn-primary" href="{{ path('administration_analyse_edit', { 'id': analyse.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
