{% extends "::bootstrap.html.twig" %}

{% block title %}Tap !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
      <link rel="stylesheet" href= "{{ asset('/css/tap.css') }}" />
{% endblock %}

{% block body %}

	<p>

    </p>

	<div class="row">
		{{ form_start(form) }}
		    {{ form_errors(form) }}

		    <div class="form-group">
		        {# On affiche tous les messages flash dont le nom est « info » «start» «stop» #}
      			{% for message in app.session.flashbag.get('info') %}
        			<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12  btn btn-info">{{ message }}</p>
      			{% endfor %}
      			{% for message in app.session.flashbag.get('start') %}
        			<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12  btn btn-success">{{ message }}</p>
      			{% endfor %}
      			{% for message in app.session.flashbag.get('stop') %}
        			<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12  btn btn-danger">{{ message }}</p>
      			{% endfor %}
		    </div>

		    <div>
                {{ form_widget(form.tap,{'attr':{'class':'btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12'}}) }}
    		</div>

		    <div class="form-group">
		        {{ form_errors(form.user) }}
		        {{ form_widget(form.user,{'attr':{'class':'col-xs-12 col-sm-12 col-md-6 col-lg-6 btn-lg'}}) }}
		    </div>

		    <div class="form-group">
		        {{ form_errors(form.task) }}
		        {{ form_widget(form.task,{'attr':{'class':'col-xs-12 col-sm-12 col-md-6 col-lg-6 btn-lg'}}) }}
		    </div>

		    <div class="form-group">
		        {{ form_errors(form.infos) }}
		        {{ form_widget(form.infos,{'attr':{'class':'col-xs-12 col-sm-12 col-md-6 col-lg-6'}}) }}
		    </div>

		    <div class="form-group">
		        {# On affiche tous les messages flash dont le nom est « duree » #}
      			{% for message in app.session.flashbag.get('duree') %}
        			<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12  btn btn-info">{{ message }}</p>
      			{% endfor %}
		    </div>
		    
		    <div>
		    	<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-primary" role="button" href="{{path('accueil_homepage')}}">Retour à l'accueil</a>
		    </div>

		{{ form_end(form) }}
	</div>

{% endblock %}