{% extends "::bootstrap.html.twig" %}

{% block title %}Tap !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
      <link rel="stylesheet" href= "{{ asset('/css/tap.css') }}" />
{% endblock %}

{% block body %}

<div class="row">
		

<h1>Activités du {{ "now"|date("d/m/Y") }}</h1>

	<ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-group">

	  {% for activite in activites %}
	    <li class="list-group-item">
			<div>Activités: {{ activite.nom }}</div>
			<div>Durée: {{ activite.duree }}</div>
	    </li>
	  {% endfor %}

	</ul>

	<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-primary" role="button" href="{{path('accueil_homepage')}}">Retour à l'accueil</a>
</div>
	
{% endblock %}
